.box-linhas {
  background-color: #eee;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px 1px;
  box-sizing: border-box;
  border-left: 10px solid #eee;
  border-right: 10px solid #eee;
  margin-bottom: 20px;

  overflow-x: auto;
  overflow-y: hidden;

  /* Garante uma rolagem suave via clique ou touch */
  scroll-behavior: smooth;
}

/* Esconde a barra de rolagem para um visual mais limpo (opcional) */
.box-linhas::-webkit-scrollbar {
  display: none;
}

.card-linha {
  background-color: #ddd;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-linha img {
  width: 100%;
  height: 100%;
  /* Faz a imagem preencher o card perfeitamente sem distorcer */
  object-fit: cover;
  /* Transição suave de 0.3 segundos para o efeito não ser seco */
  transition: transform 0.3s ease;
}
.card-linha:hover img {
  /* Amplia a imagem em 10% (mude para 1.2 se quiser 20%, etc) */
  transform: scale(1.1);
}

.nome-linha {
  position: absolute;
  z-index: 2;

  /* texto */
  background-color: #fff;
  color: #444;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  pointer-events: none; /* Evita que o texto bloqueie o mouse ao passar por cima */

  /* Estado Inicial: Escondido e levemente menor */
  opacity: 0.8;
  transform: scale(0.8);

  /* Transição suave para a opacidade e para o leve ganho de tamanho */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.card-linha:hover .nome-linha {
  opacity: 0.8;
  transform: scale(1); /* Volta ao tamanho normal criando um efeito lindo */
}

.label-linha {
  position: absolute;
  z-index: 2;

  /* texto */
  background-color: rgba(32, 75, 68, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none; /* Evita que o texto bloqueie o mouse ao passar por cima */
  margin-bottom: -90px;

  /* Estado Inicial: Escondido e levemente menor */
  opacity: 0;
  transform: scale(0.8);

  /* Transição suave para a opacidade e para o leve ganho de tamanho */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.card-linha:hover .label-linha {
  opacity: 1;
  transform: scale(1); /* Volta ao tamanho normal criando um efeito lindo */
}

.btn-next {
  width: auto;
  cursor: pointer;
  margin-left: 10px;
}
img.btn-next:hover {
  content: url("../imgs/btn-next-on.png");
  filter: contrast(0.9);
}

.btn-prev {
  width: auto;
  cursor: pointer;
  margin-right: 10px;
}
img.btn-prev:hover {
  content: url("../imgs/btn-prev-on.png");
  filter: contrast(0.9);
}
