.foto-novidade {
  width: 450px;
  float: left;
  margin-right: 25px;
  margin-bottom: 4px;
  padding: 3px;
  border: 1px solid #ccc;
}

.conteudo {
  margin-top: 40px;
  display: inline-block;
}

.tag-data {
  background-color: #e8e8e8;
  color: #888;
  width: fit-content;
  padding: 2px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.box-paginacao {
  background-color: transparent;
  padding: 0;
  margin-top: 15px;
  text-align: center;
}
.box-paginacao span {
  color: #777;
  margin: 0 5px;
}

.box-paginacao button {
  padding: 3px 6px;
  /*background-color: #eee;
  border: 1px solid #999;*/
  color: #555;
  cursor: pointer;
  /* border-radius: 5px;
  margin: 0 5px;*/
}
