/******** DESKTOP *********/
@media (min-width: 867px) {
  .sombra-slide {
    width: 100%;
    display: block;
    float: inline-start;
    margin: 0 auto;
    margin-top: 1px;
  }
}

/******** TABLET *********/
@media (min-width: 615px) and (max-width: 866px) {
  .sombra-slide {
    width: 100%;
    display: block;
    float: inline-start;
    margin: 0 auto;
    margin-top: 1px;
  }
}

/******** MOBILE *********/
@media (max-width: 614px) {
  .sombra-slide {
    width: 100%;
    height: 6px;
    display: block;
    float: inline-start;
    margin: 0 auto;
    margin-top: 1px;
  }
}
