@charset "utf-8";
/* CSS Document */
img {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  z-index: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

form {
  padding: 0;
  margin: 0;
}

a {
  color: #777;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  color: #0e7ec2;
}

footer {
  color: #888;
  margin-top: 25px;
  text-align: center;
  font-size: 13px !important;
}

footer a {
  font-size: 13px;
}

.m-t {
  margin-top: 12px;
  display: inline-block;
  text-align: center;
}

/**** IMAGEM *****/
.logomarca {
  width: 200px;
  margin: 0 auto;
  float: left;
  margin: 10px 50px 30px 50px;
}

/**** FORMULARIO *****/
.campo {
  font-size: 14px !important;
  padding: 10px 3%;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 12px 0;
  color: #555;
  background: #f1f1f1;
  box-sizing: border-box;
  border-radius: 5px;
}

.botao {
  background: #999;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 5px #ccc;
  font-weight: bold;
  transition: all 0.3s;
}
input.botao:hover {
  background: #0e7ec2;
  transition: all 0.3s;
}

/**** ESTRUTURA *****/
.box-center {
  width: 300px;
  min-height: 313px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -157px 0 0 -170px;
  background-color: #fff;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 5px 12px #cbd5d9;
}

.box-erro {
  width: 100%;
  background: #ffe7e7;
  color: red;
  padding: 8px 0 10px 0;
  float: left;
  margin: 15px 0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.icone-senha {
  float: inline-end;
  position: relative;
  z-index: 100;
  margin-top: -41px;
  margin-right: 10px;
  cursor: pointer;
}

/*** alertas ****/
.alerta-erro {
  font:
    normal 16px "Trebuchet MS",
    Tahoma;
  background: #ffe7e7;
  color: #e50000;
  width: 98%;
  float: left;
  padding: 1%;
  border-radius: 5px;
  margin: 15px 0;
}
.alerta-info {
  font:
    normal 16px "Trebuchet MS",
    Tahoma;
  background: #f3ffb1;
  color: #7e712b;
  width: 98%;
  float: left;
  padding: 1%;
  border-radius: 5px;
  margin: 15px 0;
}
